body{
	margin:0;
	color:#6a6f8c;
 	font:600 16px/18px 'Open Sans',sans-serif;
  	background: url("../images/doller.jpg")
}
*, :after, :before {
	box-sizing: border-box;
	color: #565656;
}
.clearfix:after,.clearfix:before{
	content:'';display:table
}
.clearfix:after{
	clear:both;display:block
}
a{
	color:inherit;text-decoration:none;transition: color .15s ease-in-out;
}
a:hover {
    color: #11bd03;
	text-decoration: none;
		
}
.h1, h1 {
    font-weight: 600 !important;
    font-size: 29px;
    padding: 0px !important;
    line-height: 1;
    margin: 2rem 0 0 0;
    color: var(--item-title);
    color: #3a3353;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px;
    margin-top: 6%;
}
h2 {
    margin-bottom: 13%;
}
p {
	margin-top: .8em;
	margin-bottom: .5rem;
	text-align: center;
	color: #72acea;
	font-weight: 100;
	bottom: 0;
	width: 100%;
	font-size: 2em;
	transition: color .15s ease-in-out;
}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html{
	width:100%;
	height:100vh;
	position:absolute;
	padding:15px 70px 50px 70px;
	background: rgba(45, 45, 45, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#11bd03;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group {
	margin-bottom: 15px;
	height: 77px;
	margin-top: 2% !important;
	width: 50%;
	margin: auto;
}
.sign-in-htm {
	margin-top: 4%;
}
label#err2, label#err1 {
    color: #b22626;
    float: left;
    text-align: left;
    text-transform: capitalize; 
    margin-bottom: 0px !important;
}
label#err6 {
    text-align: center;
    width: 100%;
    padding-top: 7%;
    font-size: 23px;
    color: #72acea;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#8b8b8b;
	display:block;
	font-weight: 100 !important;
}
.login-form .group .input {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    box-shadow: 0 3px 26px 0 rgba(0, 137, 255, 0.22), 0 2px 9px 0 rgba(62,57,107,0.06);
}
.login-form .group .input, .login-form .group .button {
    border: none;
	padding: 15px 20px;
}
.login-form .group .input:focus,
.login-form .group .button:focus{
box-shadow: 0 10px 19px 2px rgba(54, 134, 248, 0.15), 0 1px 8px 0 rgba(62,57,107,0.06);
outline: none;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.button {
	background-image: linear-gradient(to right, #46c7fe 0%, #a069ff 51%, #46c7fe 100%);
	transition: 0.5s;
  	background-size: 200% auto;
}
.button:hover{
	background-position: right center;
}
.btn:hover {
	background-position: right center;
	box-shadow: 0 9px 31px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#11bd03;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr {
	height: 2px;
	margin: 0px 0 12px 0;
	background: rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.rb{
	font-color: white;
}
.modal-backdrop {
    position: static !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}




.example > .row {
	margin-top: 2rem;
	height: 5rem;
	vertical-align: middle;
	text-align: center;
	border: 1px solid rgba(189, 193, 200, 0.5);
  }
  .example > .row:first-of-type {
	border: none;
	height: auto;
	text-align: left;
  }
  .example h3 {
	font-weight: 400;
  }
  .example h3 > small {
	font-weight: 200;
	font-size: .75em;
	color: #939aa5;
  }
  .example h6 {
	font-weight: 700;
	font-size: .65rem;
	letter-spacing: 3.32px;
	text-transform: uppercase;
	color: #bdc1c8;
	margin: 0;
	line-height: 5rem;
  }
  .example .btn-toggle {
	top: 50%;
	transform: translateY(-50%);
  }
	.btn-toggle {
    margin: 0 5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #10bd03;
    left: 4px;
}
  .btn-toggle:focus,
  .btn-toggle.focus,
  .btn-toggle:focus.active,
  .btn-toggle.focus.active {
	outline: none;
  }
	.btn-toggle:before, .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
}
	.btn-toggle:before {
    content: 'Main net';
    left: -5.2rem;
}
.btn-toggle:after {
	content: 'Test Net';
	right: -4.7rem;
	opacity: .5;
}
  .btn-toggle > .handle {
	position: absolute;
	top: 0.1875rem;
	left: 0.1875rem;
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 1.125rem;
	background: #fff;
	transition: left .25s;
  }
  .btn-toggle.active {
	transition: background-color 0.25s;
  }
  .btn-toggle.active > .handle {
	left: 1.6875rem;
	transition: left .25s;
  }
  .btn-toggle.active:before {
	opacity: .5;
  }
  .btn-toggle.active:after {
	opacity: 1;
	}
	.btn-abt {
    margin-bottom: 3%;
    margin-top: 1%;
    background: #11bd03 !important;
    border-color: #11bd03 !important;
    font-size: 12px !important;
    text-transform: uppercase;
}
	.abt-wrap{
		width: 100%;
		float: left;
	}
	.btn {
		border-radius: 2.25rem !important;
		will-change: transform, box-shadow;
		box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
	}
	canvas {
		display: block;
		vertical-align: bottom;
	}
	
	#particles-js {
		position: absolute;
		width: 100%;
		height: 100%;
		background: transparent;
	}
	
	.btn:hover	.fa-info-circle{
		color: #3495ff !important;
	}
	.btn-toggle{
		border:none;	
		background-image: linear-gradient(to right, #46c7fe 0%, #a069ff 51%, #46c7fe 100%);
		
	}
	.btn-toggle:hover{
		border:none !important;	
		background-position: right center;
		box-shadow: 0 9px 31px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
	}
	.modal-body {
		font-weight: 100;
		color: #000;
		font-size: 13px;
		line-height: 22px;
		text-align: justify;
	}
	h5#exampleModalLongTitle {
		color: #16bb00;
	}
	.modal-footer {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding: 1rem;
		border-top: none;
	}
	.modal-content {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: none !important;
		border-radius: .3rem;
		outline: 0;
	}
	@keyframes expand {
		0% {
		  opacity: 0;
		  max-height: 0;
		}
		100% {
		  opacity: 1;
		  max-height: 30em;
		}
	  }
	  details > div {
		position: relative;
		z-index: 20;
		padding: 1.25em 1.5em;
		margin-bottom: .6em;
		border-radius: 0.3em;
		box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
		background-color: white;
	  }
	  
	  summary {
		position: relative;
		z-index: 10;
		display: block;
		color: #000;
		margin-top: 4%;
		background: white;
		padding-left: 3em;
		margin-bottom: .5em;
		font-size: 1.2em;
		line-height: 3;
		box-sizing: border-box;
		list-style: none;
		cursor: pointer;
		border-radius: 0.3em;
		box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	  }
	  
	  summary:hover,
	  summary:focus {
		background: #1e90ff;
		color: white;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
		outline: 0;
	  }
	  
	  summary::-webkit-details-marker {
		display: none;
	  }
	  
	  summary::before {
		content: '+';
		position: absolute;
		top: 50%;
		left: 1em;
		transform: translateY(-50%);
		width: 1em;
		height: 1em;
		margin-right: 1em;
		background: #16bb00;
		color: white;
		font-family: Arial, sans-serif;
		font-size: 20px;
		line-height: 1;
		text-align: center;
		border-radius: 50%;
	  }
	  
	  details[open] summary::before {
		content: '-';
		line-height: .9;
	  }
	  
	  details[open] summary:hover::before,
	  details[open] summary:focus::before {
		background: white;
		color: #1e90ff;
	  }
	  details p {
		margin-top: 0;
		margin-bottom: 1rem !important;
		text-align: justify !important;
		color: #000000bd !important;
		font-weight: 100;
		position: static !important; 
		bottom: 0;
		width: 100%;
		font-size: 13px !important;
		transition: color .15s ease-in-out;
	}
	details p:hover {
		margin-top: 0;
		margin-bottom: 1rem !important;
		text-align: justify !important;
		color: #000000bd !important;
		font-weight: 100;
		position: static !important; 
		bottom: 0;
		width: 100%;
		font-size: 13px !important;
		transition: color .15s ease-in-out;
	}
	button {
		background-image: linear-gradient(to right, #46c7fe 0%, #a069ff 51%, #46c7fe 100%);
		position: relative;
		color: #fff;
		border: none;
		padding: 1.25em 2em;
		font-size: 0.75em;
		border-radius: 79px;
		letter-spacing: 1px;
		text-transform: uppercase;
		cursor: pointer;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
	}
	button:focus {
		outline: none;
	}
	
	/**
	 * Overlay
	 * -- only show for tablet and up
	 */
	@media only screen and (min-width: 40em) {
		.modal-overlay {
			display: flex;
			align-items: center;
			justify-content: center;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 6;
			background-color: rgba(0, 0, 0, 0.6);
			opacity: 0;
			visibility: hidden;
			-webkit-backface-visibility: hidden;
							backface-visibility: hidden;
			transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
		}
		.modal-overlay.active {
			opacity: 1;
			visibility: visible;
		}
	}
	/**
	 * Modal
	 */
	.modal {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 0 auto;
		background-color: #fff;
		width: 600px;
		max-width: 75rem;
		min-height: 20rem;
		padding: 1rem;
		border-radius: 3px;
		opacity: 0;
		overflow-y: auto;
		visibility: hidden;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
		-webkit-transform: scale(1.2);
						transform: scale(1.2);
		transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	}
	.modal .close-modal {
		position: absolute;
		cursor: pointer;
		top: 5px;
		right: 15px;
		opacity: 0;
		-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
		transition-delay: 0.3s;
	}
	.modal .close-modal svg {
		width: 1.75em;
		height: 1.75em;
	}
	.modal .modal-content {
		opacity: 0;
		-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
		transition-delay: 0.3s;
	}
	.modal.active {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	.modal.active .modal-content {
		opacity: 1;
	}
	.modal.active .close-modal {
		-webkit-transform: translateY(10px);
						transform: translateY(10px);
		opacity: 1;
	}
	
	/**
	 * Mobile styling
	 */
	@media only screen and (max-width: 39.9375em) {
		h1 {
			font-size: 1.5rem;
		}
	
		.modal {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-overflow-scrolling: touch;
			border-radius: 0;
			-webkit-transform: scale(1.1);
							transform: scale(1.1);
			padding: 0 !important;
		}
	
		.close-modal {
			right: 20px !important;
		}
	}
	.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
		background-image: linear-gradient(to right, #46c7fe 0%, #a069ff 51%, #46c7fe 100%);
		transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn-toggle {
	margin: 0 5rem;
	padding: 0;
	position: relative;
	border: none;
	height: 1.5rem;
	width: 3rem;
	border-radius: 1.5rem;
	color: #6b7381;
	left: 4px;
	background-image: linear-gradient(to right, #46c7fe 0%, #a069ff 51%, #46c7fe 100%);
	transition: 0.5s;
    background-size: 200% auto;
}
input.button.btn {
	color: #fff !important;
}
footer {
    background: url(../images/footer.png) no-repeat;
    background-size: cover;;
    padding: 11% 0 1%;
    width: 100%;
    margin-top: 3%;
}
footer p {
    font-size: 16px;
    text-align: left;
    margin-top: 5%;
    line-height: 30px;
    color: #fff;
}
footer b {
    color: #ffffff;
    font-weight: 600;
}
button.about {
    background-image: linear-gradient(to right, #46c7fe 0%, #a069ff 51%, #46c7fe 100%);
    position: relative;
    color: #fff;
    border: none;
    padding: 1em 1.5em;
    margin-top: 3px;
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 43px;
    cursor: pointer;
	transition: 0.5s;
    background-size: 200% auto;
}
button.about:hover{
	background-position: right center;
    box-shadow: 0 9px 31px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
}


.panel-list-header {
	font-size: 50px;
	border-bottom: 1px dotted #ccc;
	padding: 24px;
  }
  
  .panel-list-content {
	margin: 0 auto;
  }
  
  .panel-wrap {
	padding: 20px 0;
	border-bottom: 1px dotted #ccc;
  }
  
  .panel-title {
    font-size: 17px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
    font-weight: 100;
}
  
  .panel-content {
	font-size: 14px;
	font-weight: 100;
	padding: 0px 14px;
	margin: 0 40px;
	height: 0;
	overflow: hidden;
	z-index: -1;
	position: relative;
	opacity: 0;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
  }
  
  .panel:checked ~ .panel-content {
    height: auto;
    opacity: 1;
    padding: 20px 9px;
}
  
  .plus {
    position: absolute;
    margin-left: 20px;
	margin-top: 7px;
	color: #46c7fe;
    z-index: 5;
    font-size: 25px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
  
  .panel:checked ~ .plus {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  .panel {
	display: none;
  }
  .balance {
    height: 170px;
    box-shadow: 0 6px 17px 0 rgba(80, 63, 227, 0.12), 0 5px 72px 0 rgba(44, 144, 255, 0.03);
    border-radius: 25px;
    margin-top: 36%;
    border: 1px solid #e4e8fd5e;
    text-align: center;
    padding-top: 8%;
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fab {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab,
.social-btns .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 55px;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: static;
  top: 0;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 12%;
}
.social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 55px;
    height: 55px;
    line-height: 46px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 37% !IMPORTANT;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
    font-size: 20px;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fab {
  font-size: 38px;
  vertical-align: middle;
  z-index: 1;
}
.social-btns .btn{
	transition: transform 0.2s linear;
}
.social-btns .btn:hover{
	transform: translateY(-10px);
	background-color: #ffffff;
}
.social-btns .btn:hover .fab{
	color: #fff !important;
}

.social-btns .btn:hover *, .social-btns .btn:hover :after, .social-btns .btn:hover :before {
    box-sizing: border-box;
    color: #9d6bff;
}
.social-btns *, .social-btns :after, .social-btns :before {
    box-sizing: border-box;
    color: #46c8fe;
}
p.copyright {
    text-align: center !important;
    margin-bottom: 3%;
    color: #fff;
    float: left;
    font-weight: 100;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 5%;
}
.copyright a {
    font-weight: 600;
}
.copyright a:hover{
    color: #005da9;
}
.modal-content h3{
	font-size: 19px;
	color: #000;
	text-transform: uppercase;
	border-bottom: 3px solid #0098ff;
	width: fit-content;
	margin-left: 6%;
}
.modal-content p {
    margin-top: .8em;
    margin-bottom: 1rem;
    color: #8a8a8a;
    font-weight: 100;
    bottom: 0;
    width: 100%;
    line-height: 26px;
    padding: 0 6%;
    font-size: 14px;
    transition: color .15s ease-in-out;
    text-align: justify;
}
@media only screen and (max-width: 1200px) {
	.h1, h1 {

		font-weight: 900 !important;
		font-size: 38px;
		padding: 0px !important;
		line-height: 1;
		margin: 2rem 0 0 0;
			margin-top: 2rem;
		color: var(--item-title);
		color: #3a3353;
		font-weight: 600;
		text-align: center;
		padding: 10px 0px;
		margin-top: 6%;
	
	}
	p {

		margin-top: .8em;
		margin-bottom: 1rem;
		text-align: center;
		color: #72acea;
		font-weight: 100;
		bottom: 0;
		width: 100%;
		font-size: 1.5em;
		transition: color .15s ease-in-out;
	
	}
}
@media only screen and (max-width: 992px) {
	.social-btns .btn {

		display: inline-block;
		background-color: #fff;
		width: 44px;
		height: 44px;
		line-height: 31px;
		margin: 0 10px;
		text-align: center;
		position: relative;
		overflow: hidden;
		border-radius: 37% !IMPORTANT;
		box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
		opacity: 0.99;
		font-size: 17px;
	
	}
}
	@media only screen and (max-width: 767px) {
		.h1, h1 {

			font-weight: 900 !important;
			font-size: 23px;
			padding: 0px !important;
			line-height: 1;
			margin: 2rem 0 0 0;
				margin-top: 2rem;
			color: var(--item-title);
			color: #3a3353;
			font-weight: 600;
			text-align: center;
			padding: 10px 0px;
			margin-top: 6%;
		
		}
		p {

			margin-top: .8em;
			margin-bottom: 1rem;
			text-align: center;
			color: #72acea;
			font-weight: 100;
			bottom: 0;
			width: 100%;
			font-size: 15px;
			transition: color .15s ease-in-out;
		
		}
		.login-form .group {

			margin-bottom: 15px;
			height: 77px;
			margin-top: 4% !important;
			width: 100%;
			margin: auto;
				margin-top: auto;
		
		}
		.social-btns .btn {

			display: inline-block;
			background-color: #fff;
			width: 40px;
			height: 40px;
			line-height: 26px;
			margin: 0 6px;
			text-align: center;
			position: relative;
			overflow: hidden;
			border-radius: 37% !IMPORTANT;
			box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
			opacity: 0.99;
			font-size: 16px;
		
		}
		.login-form .group .label, .login-form .group .input, .login-form .group .button {

			width: 100%;
			color: #8b8b8b;
			display: block;
			font-weight: 100 !important;
			transition: transform 0.2s ease, box-shadow 0.2s ease;
			font-size: 12px;
		
		}
		footer p {

			font-size: 14px;
			text-align: left;
			margin-top: 5%;
			line-height: 30px;
			color: #fff;
		
		}
	}
	@media only screen and (max-width: 600px) {
		.social-btns {

			height: 53px;
			margin: auto;
			margin-top: auto;
			margin-top: auto;
			font-size: 0;
			text-align: left;
			position: static;
			top: 0;
			z-index: 0;
			bottom: 0;
			left: 12px;
			right: 0;
			margin-top: 5%;
		
		}
		p.copyright {

			text-align: left !important;
			margin-bottom: 3%;
			color: #fff;
			float: left;
			font-weight: 100;
			margin: auto;
			margin-bottom: 3%;
			margin-top: 5%;
			padding-left: 5%;
			margin-top: 3%;
		
		}
	}
	@media only screen and (max-width: 480px) {
		.content-container{
			padding-top: 7%;
		}
		.social-btns {

			height: 53px;
			margin: auto;
			margin-top: auto;
			margin-top: auto;
			font-size: 0;
			text-align: left;
			position: static;
			top: 0;
			z-index: 0;
			bottom: 0;
			left: 12px;
			right: 0;
			margin-top: 0%;
		
		}
		footer {

			background: url(../images/footer.png) no-repeat;
				background-size: auto auto;
			background-size: cover;
			padding: 11% 0 1%;
			width: 100%;
			margin-top: 3%;
		
		}
		.bottom-content{
			margin-top: 11%;
    		width: 100%;
    		text-align: left;
		}
		p.copyright {

			text-align: left !important;
			margin-bottom: 3%;
			color: #fff;
			float: left;
			font-weight: 100;
			margin: auto;
			margin-bottom: 3%;
			margin-top: 5%;
			padding-left: 5%;
			margin-top: 3%;
		
		}
		p {

			margin-top: 1.8em;
			margin-bottom: 2rem;
			text-align: center;
			color: #72acea;
			font-weight: 100;
			bottom: 0;
			width: 100%;
			font-size: 13px;
			transition: color .15s ease-in-out;
		
		}
		.logo-img{
			width: 22%;
		}
		.padd0{padding: 0% !important;}
		.h1, h1 {

			font-weight: 900 !important;
			font-size: 22px;
			padding: 0px !important;
			line-height: 1;
			margin: 2rem 0 0 0;
				margin-top: 2rem;
			margin-top: 2rem;
			color: var(--item-title);
			color: #3a3353;
			font-weight: 600;
			text-align: center;
			padding: 10px 0px;
			margin-top: 0%;
		
		}
		#balField {

			margin-top: 0;
		
		}
	}
	@media only screen and (max-width: 360px) {
		.content-container{
			padding-top: 7%;
		}
		.social-btns {

			height: 53px;
			margin: auto;
				margin-top: auto;
			margin-top: auto;
			font-size: 0;
			text-align: left;
			position: static;
			top: 0;
			z-index: 0;
			bottom: 0;
			left: 5px;
			right: 0;
			margin-top: 0%;
		
		}
		footer {

			background: url(../images/footer.png) no-repeat;
				background-size: auto auto;
			background-size: cover;
			padding: 11% 0 1%;
			width: 100%;
			margin-top: 3%;
		
		}
		.bottom-content{
			margin-top: 11%;
    		width: 100%;
    		text-align: left;
		}
		p.copyright {

			text-align: left !important;
			margin-bottom: 3%;
			color: #fff;
			float: left;
			font-weight: 100;
			margin: auto;
			margin-bottom: 3%;
			margin-top: 5%;
			padding-left: 5%;
			margin-top: 3%;
		
		}
		p {

			margin-top: 1.8em;
			margin-bottom: 2rem;
			text-align: center;
			color: #72acea;
			font-weight: 100;
			bottom: 0;
			width: 100%;
			font-size: 13px;
			transition: color .15s ease-in-out;
		
		}
		.logo-img{
			width: 22%;
		}
		.padd0{padding: 0% !important;}
		.h1, h1 {

			font-weight: 900 !important;
			font-size: 22px;
			padding: 0px !important;
			line-height: 1;
			margin: 2rem 0 0 0;
				margin-top: 2rem;
			margin-top: 2rem;
			color: var(--item-title);
			color: #3a3353;
			font-weight: 600;
			text-align: center;
			padding: 10px 0px;
			margin-top: 6%;
		
		}
		#balField {

			margin-top: 0;
		
		}
	}
	h1#balance{
		margin-top: 0px !important;
		color: #2c90ff;
	}
	
@keyframes expand {
	from {width: 0%;}
	to {width: 100%;}
}
@media screen and (min-width: 768px) {
	@keyframes expand {
		from {width: 0%;}
		to {width: calc(100% - 75px);}
	}
}
.chart {
    overflow: hidden;
    width: 0%;
    animation: expand 1.5s ease forwards;
    margin-top: 6%;
}
.row + .row .chart {
	animation-delay: .2s;
}
.row + .row + .row .chart {
	animation-delay: .4s;
}
.block {
    display: block;
    height: 24px;
    color: #fff;
    font-size: .75em;
    float: left;
    background-color: #2c90ff;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: opacity, .3s ease;
	cursor: pointer;
	box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}
.block:nth-of-type(2),
.legend li:nth-of-type(2):before {
	background-color: #503fe3;
}
.block:nth-of-type(3),
.legend li:nth-of-type(3):before {
	background-color: #EFC94C;
}
.block:nth-of-type(4),
.legend li:nth-of-type(4):before {
	background-color: #E27A3F;
}
.block:nth-of-type(5),
.legend li:nth-of-type(5):before {
	background-color: #DF5A49;
}
.block:nth-of-type(6),
.legend li:nth-of-type(6):before {
	background-color: #962D3E;
}
.block:hover {
	opacity: .65;
}
.value {
    display: block;
    line-height: 1em;
    position: absolute;
    top: 19%;
    left: 50%;
    color: #fff;
    transform: translate(-50%);
    font-size: 13px;
    font-weight: 100;
}
.x-axis {
    text-align: center;
	padding: .5em 0 2em;
}
.y-axis {
	height: 20px;
    transform: translate(-32px,170px) rotate(270deg);
    position: absolute;
    left: 0;
}
.legend {
    margin: 0 auto;
    padding: 0;
	font-size: .9em;
}
.legend li {
    display: inline-block;
    padding: .25em 1em;
    line-height: 1em;
}
.legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 8px;
    height: 8px;
	background-color: #334D5C;
}

svg {
	width: 300px;
	height: 300px;
	margin: 0 auto;
  }
  svg text.middle {
	font-family: Lato;
	font-weight: 300;
	font-size: 24px;
  }
  svg .nvd3.nv-pie .nv-pieLabels text {
	font-family: Lato;
	font-size: 18px;
	font-weight: 300;
	fill: #fff !important;
  }
  .balance-details{
	margin: 0;
	line-height: 42px;
	padding-top: 7%;
  }
  .border-radius-l{
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .border-radius-r{
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .balance-details h6 {
    line-height: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 6%;
}
.balance-details p {
    margin-top: 0em;
    margin-bottom: .5rem;
    text-align: left;
    color: #7b7b7b;
    font-weight: 100;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    transition: color .15s ease-in-out;
}
.w3-container, .w3-panel {
    padding: 0.01em 0px;
}
.w3-blue.w3-round-xlarge {
    padding-left: 0px;
    height: 0px;
}
.w3-blue, .w3-hover-blue:hover {
    color: #565656!important;
	background: linear-gradient(232deg,#a069ff, #46c7fe) !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 12px;
    padding-bottom: 24px;
}
.w3-round-xlarge {
    border-radius: 4px;
}
.w3-light-grey.w3-round-xlarge {
    width: 76%;
    float: left;
    box-shadow: 0 6px 17px 0 rgba(80, 63, 227, 0.18), 0 5px 72px 0 rgba(44, 144, 255, 0.03);
}
.value-chart-max {
    float: left;
    width: auto;
    font-size: 12px;
    padding-left: 5px;
    line-height: 24px;
}
.scatter-btn {
    width: 36%;
    float: left;
    margin-top: 9px;
    margin-left: 15px;
}
.scatter-btn .button{
	background-image: linear-gradient(to right, #ff6356 0%, #ffb68e 51%, #ff6356 100%);
    font-size: 12px;
    width: 100%;
}
.transfer-token {
    text-align: left;
    width: auto;
    float: left;
    margin-bottom: 15%;
}
.transfer-token-form{
	float: left;
    width: 100%;
}
.transfer-token-form{
	float: left;
    width: 100%;
}
.transfer-input {
    border: none;
    padding: 11px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
    margin: 16px 0px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 3px 26px 0 rgba(0, 137, 255, 0.12), 0 2px 9px 0 rgba(62,57,107,0.06);
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}
.transfer-btn input {
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 14px;
}
.transfer-btn input {
    width: 100%;
}
.value-percentage{
	float: left;
    width: 100%;
    padding: 0;
    padding-top: 2%;
}
h1#balance {
    font-size: 3vh;
    word-break: break-word;
	padding: 1% 5% !important;
	line-height: 26px;
}
label#from {
	font-size: 11px;
    line-height: 9px;
	float: left;
	width: auto;
    border: 1px solid #efefef;
    padding: 5px 14px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #797979;
    box-shadow: 0 3px 7px 0 rgba(128, 128, 128, 0.12), 0 3px 3px 0 rgba(44, 144, 255, 0.03);
}
label#err3, label#err4 {
    font-size: 12px;
    float: right;
    margin: 0px;
    padding: 0px;
    line-height: 0;
    padding-bottom: 10px;
    font-weight: 300;
    color: #da0000;
}
input#recipient {
    margin-top: 10px;
}
.another input.button.btn {
    background: none;
    box-shadow: none;
    color: #729afe !important;
    font-size: 14px;
}
.another {
    float: left;
}
.another input.button.btn:hover {
    color: #9e6cff !important;
}
.refresh {
    float: right;
}
.refresh *, .refresh :after, .refresh :before {
    box-sizing: border-box;
    color: #49c4fe;
    background: none !important;
    border: none !important;
}
.refresh *, .refresh :after, .refresh :before {
    box-sizing: border-box;
    color: #49c4fe;
    background: none !important;
    border: none !important;
    cursor: pointer;
    border-radius: 50px;
	box-shadow: 0 3px 26px 0 rgba(0, 137, 255, 0.12), 0 2px 9px 0 rgba(62,57,107,0.06);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
}
.refresh :hover {
    transform: translateY(-3px) translateZ(0);
    box-shadow: 0 16px 32px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
}
/* General Settings */

.html, body {
	margin: 0;
	padding: 0;
  }
  
  .preloader_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #fff !important;
	z-index: 6;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
}
  
  /* Actual Preloader */
  
  .preloader {
	  background: #0f94ef;
	  height: 3em;
	  width: 3em;
	  animation: preloader 0.80s ease-out infinite;
  }
  
  .pl_square {
	color: #000;
	height: 0;
	width: 0;
	background: #fff;
	animation: pl_square 0.80s ease-out infinite;
  }
  
  .pl_logo {
	animation: pl_logo 0.80s ease-out infinite;
  }
  
  .preloader, .pl_square {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .pl_logo, .pl_square {
	height: 0;
	width: 0;
  }
  
  /* Animations to make it work */
  
  @keyframes preloader {
	0% {
	  transform: scale(0.05);
	}
	75% {
	  background: 46c6fe;
	}
	90% {
	  background: #46c6fe;
	}
	100% {
	  background: #a168ff;
	}
  }
  
  @keyframes pl_square {
	35% {
	  height: 0;
	  width: 0;
	}
	90% {
	  height: 2.75em;
	  width: 2.75em;
	}
	100% {
	  height: 2.75em;
	  width: 2.75em;
	}
  }
  
  @keyframes pl_logo {
	65% {
	  height: 0;
	  width: 0;
	}
	90% {
	  height: auto;
	  width: 2em;
	}
	100% {
	  height: auto;
	  width: 2em;
	}
  }

  .buttonViewTx {
    background-color: #0e7fff; 
    border: none;
	color: white;
	width: 330px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  h3#errorHeading {
    width: 100%;
    border: none !important;
    text-align: center;
    margin-left: 0px !important;
}
input#viewTx {
    margin: auto;
	border-radius: 29px;
	background-image: linear-gradient(to right, rgb(70, 199, 254) 0%, rgb(160, 105, 255) 51%, rgb(70, 199, 254) 100%);
    background-size: 200%;
    transition: all 0.5s ease 0s;
}
input#viewTx:hover {
    background-position: right center;
    box-shadow: 0 9px 31px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
}
p#tick, p#install, #sign-out, p#sign-in {
    text-align: center;
    font-size: 73px;
	color: #28a745;
	margin-top: 0px;
}
p#tick *,p#tick:after, p#tick:before {
    box-sizing: border-box;
    color: #28a745;
}
p#install *,p#install:after, p#install:before {
    box-sizing: border-box;
    color: #28a745;
}
p#sign-out *,p#sign-out:after, p#sign-out:before {
    box-sizing: border-box;
    color: #949494;
}
p#sign-in *,p#sign-in:after, p#sign-in:before {
    box-sizing: border-box;
    color: #28a745;
}
p#errorMsg {
    text-align: center;
}


@media screen and (min-width: 768px) {
	h6 {
		padding: 0;
		width: 100%;
		float: left;
		line-height: 100px;
	}
	.block {
		font-size: 1em;
	}
	.legend {
		width: 50%;
	}
}
@media screen and (max-width: 1200px) {
	.login-form .group {
		margin-bottom: 15px;
		height: 77px;
		margin-top: 2% !important;
		width: 85%;
		margin: auto;
		margin-top: auto;
	}
	.h1, h1 {
		font-weight: 900 !important;
		font-size: 22px;
		padding: 0px !important;
		line-height: 1;
		margin: 2rem 0 0 0;
			margin-top: 2rem;
		margin-top: 2rem;
		color: var(--item-title);
		color: #3a3353;
		font-weight: 600;
		text-align: center;
		padding: 10px 0px;
		margin-top: 6%;
	}
	
}
@media screen and (max-width: 992px) {
	.transfer-token {
		text-align: left;
		width: auto;
		float: left;
		margin-bottom: 5%;
	}
	.balance {
		height: 170px;
		box-shadow: 0 6px 17px 0 rgba(80, 63, 227, 0.12), 0 5px 72px 0 rgba(44, 144, 255, 0.03);
		border-radius: 25px;
		margin-top: 9%;
		margin-bottom: 9%;
		border: 1px solid #e4e8fd5e;
		text-align: center;
		padding-top: 8%;
	}
}
@media screen and (max-width: 767px) {
	.login-form .group {
		margin-bottom: 15px;
		height: 77px;
		margin-top: 2% !important;
		width: 100%;
		margin: auto;
		margin-top: auto;
	}
	.h1, h1 {
		font-size: 15px;
		line-height: 1;
		margin: 2rem 0 0 0;
			margin-top: 2rem;
		margin-top: 2rem;
		color: var(--item-title);
		color: #3a3353;
		font-weight: 600;
		text-align: center;
		padding: 10px 0px;
		margin-top: 6%;
	}
	
}
@media screen and (max-width: 560px) {
	#account {
		width: 100% !important;
	}
	.button.btn.btn-scatter {
		width: 100% !important;
		margin: auto;
	}
	.button.btn.btn-scatter {

		width: 100% !important;
		margin: auto;
			margin-bottom: auto;
		float: left;
		margin-bottom: 5%;
	
	}
	.btn-onoff{
		float: left;
 		margin-bottom: 3%;
	}
	.or {
		width: 100% !important;
	}
}